# Ignore everything in ~/.config by default; whitelist explicit paths below.
/*
!.gitignore
!/README.md
!/rio/
!/rio/config.toml
rio/themes
rio/themes/**
!/tinted-theming/
!/tinted-theming/tinty/
!/tinted-theming/tinty/config.toml
